<h2 class="title">Downloads</h2>
<ul class="shadow">
    <li>
        <a href="assets/downloads/1010-parentstudent-handbook-fall-2022-2023.pdf" target="_blank" title="10:10 Academy Student Handbook" class="download">
            <span class="caption">Student Handbook</span>
            <span class="link-text">PDF - 180K</span>
        </a>
    </li>
    <li>
        <a href="assets/downloads/1010-calendar-2022-2023-m.pdf" target="_blank" title="10:10 Academy Monday Calendar" class="download">
            <span class="caption">2022 - 23 Family Calendar - Monday</span>
            <span class="link-text">PDF - 28K</span>
        </a>
    </li>
    <li>
        <a href="assets/downloads/1010-calendar-2022-2023-w.pdf" title="10:10 Academy Friday Calendar" class="download">
            <span class="caption">2022 - 23 Family Calendar - Wednesday</span>
            <span class="link-text">PDF - 36K</span>
        </a>
    </li>
</ul>