<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div>
        <ul>
            <li>
                <a class="no-under light" href="/about/" title="About 10:10 Academy">About Us</a>
            </li>
            <li>
                <a class="no-under light" href="/enrollment/faqs.html" title="View enrollment details">Enrollment</a>
            </li>
            <li>
                <a class="no-under light" href="/resources/" title="View helpful resources">Resources</a>
            </li>
            <li>
                <a class="no-under light" href="mailto:info@1010academy.com?subject=Request for Info from the 10:10 Academy Website" title="Contact Us">Contact Us</a>
            </li>
        </ul>
        <p>&copy;<span class="current-year">2022</span> 10:10 Academy. All rights reserved</p>
    </div>
</body>
</html>