<ul>
    <li>
        <a href="https://10-10-academy.jumbula.com/#/home" title="10:10 Academy on Jumbula" target="_blank" class="no-under">Jumbula</a>
    </li>
    <li>
        <a href="https://www.facebook.com/groups/1010academy" title="10:10 Academy Community Page" target="_blank" class="no-under">Community</a>
    </li>
    <li>
        <a href="https://www.facebook.com/groups/1304151342981730" title="10:10 Academy Families Page" target="_blank" class="no-under">Families</a>
    </li>
    <li>
        <a href="https://www.facebook.com/groups/438350166761676" title="10:10 Academy Staff Page" target="_blank" class="no-under">Staff</a>
    </li>
    <li>
        <a href="https://www.instagram.com/1010academy" target="_blank" title="10:10 Academy on Instagram" class="no-under">Instagram</a>
    </li>
    <li>
        <a href="mailto:info@1010academy.com?subject=Request for Info from the 10:10 Academy Website" target="_blank" title="Contact Us" class="no-under">Contact Us</a>
    </li>
</ul>
<p>&copy;<span class="current-year">2000</span> 10:10 Academy. All rights reserved</p>
<script src="../js/year-update.js"></script>