<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div>
        <div class="logo shadow">
            <a href="http://1010academy.com" title="10:10 Academy home page"></a>
        </div>
        <ul class="shadow">
            <li>
                <div>
                    <a class="drawer" href="/about/">About Us</a>
                    <ul class="dropdown">
                        <li>
                            <a href="#">Who We Are</a>
                        </li>
                        <li>
                            <a href="#">Leadership</a>
                        </li>
                        <li>
                            <a href="/about/testimonials.html">Testimonials</a>
                        </li>
                        <li>
                            <a href="/about/governance.html">Governance</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div>
                    <a class="drawer" href="/enrollment/">Enrollment</a>
                    <ul class="dropdown">
                        <li>
                            <a href="/assets/downloads/1010-calendar-2022-2023-m.pdf" target="_blank" title="View the 2022-23 Family Calendar - Mondays">Monday Classes</a>
                        </li>
                        <li>
                            <a href="/assets/downloads/1010-calendar-2022-2023-w.pdf" target="_blank" title="View the 2022-23 Family Calendar - Wednesdays">Wednesday Classes</a>
                        </li>
                        <li>
                            <a href="https://10-10-academy.jumbula.com/#/home" target="_blank"  title="Link to Jumbula for online registration, calendars, payment portal and weekly announcements">Registration</a>
                        </li>
                        <li>
                            <a href="/enrollment/faqs.html" title="View enrollment details">FAQs</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div>
                    <a class="drawer" href="#">Resources</a>
                    <ul class="dropdown">
                        <li>
                            <a href="/assets/downloads/1010-parentstudent-handbook-fall-2022-2023.pdf" target="_blank" title="View the Parent/Student Handbook">Parent/Student Handbook</a>
                        </li>
                        <li>
                            <a href="#">Calendar</a>
                        </li>
                        <li>
                            <a href="https://new.edmodo.com/login?utm_source=main&utm_campaign=logged-out-pages&utm_medium=visitor-site&utm_content=landing-page-topnav" target="_blank"  title="Link to Edmodo for parent-student-teacher communication">Edmodo</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div>
                    <a class="drawer" href="#">Contact Us</a>
                    <ul class="dropdown">
                        <li>
                            <a href="mailto:info@1010academy.com?subject=Request for Info from the 10:10 Academy Website">Email</a>
                        </li>
                        <li>
                            <a href="#">Social Media</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>